<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
</head>
<body>
    <h2>CCSMS Mission</h2>
    <p>The College of Computing and Multimedia Studies shall produce competent and innovative professionals or 
        Technopreneurs in the Information and Communication Technology (ICT) industry adequately prepared in the 
        practice of their profession supportive of national development goals and standards of global excellence.
    </p>
    
</body>
</html>