<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objectives</title>
</head>
<body>
    <h3>CCMS Objectives</h3>
    <p>CCMS Quality Objectives
        CCMS Quality Objectives
        At the College of Computing and Multimedia Studies, we are driven by a steadfast commitment to excellence in every aspect of our work. Our quality objectives serve as the guiding principles that propel us toward continuous improvement and the delivery of exceptional educational experiences.
        
        Increase faculty performance by obtaining a minimum rating of 4.00 in the semestral faculty evaluation of each faculty for the next fiveyears.
        Maintain competent faculty line-up by sending all permanent fulltime faculty to at least one (1) IT related training, conference, orseminar annually for the next five years.
        Conduct a minimum of two (2) researches, IT projects or production of instructional materials annually for the next five years.Achieve a minimum of 50% student passing percentage in the IT certification annually for the next five years.
        Maintain state-of-the-art information technology learning environment through annual procurement or upgrading of hardwareor software licenses for at least one computer laboratory for the next five years.
        Set up minimum of two (2) academe-industry partnership projects and commercialization initiatives or research publication andpresentation annually in preparation for the next CHED COD/COE application.
        Strengthen promotion program to increase freshman enrollees to a minimum of three (3) class sections annually for the next five years.
    </p>
    
</body>
</html>